@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Generar flyer</h1>
    @using (Html.BeginForm("Index", "Home", new { Url = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="input-group col-lg-8 col-md-8 col-sm-10" >
            <input type="text" class="form-control input-lg">
            <span class="input-group-btn">
                <button class="btn btn-info btn-lg" type="submit">Generar Flyer</button>
            </span>
        </div>
    }
    <br />
    <br />
</div>
